h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'NanumSquare', san-serif;
  text-align: center;
  letter-spacing: -0.03em;
  word-spacing: 0.3em;
  color: lightgreen

}

p.subtitle{
  font-family: 'Jua', sans-serif;
}
.main-text{
  font-weight: 200;
  font-size: 20px;
  word-spacing: 0.7em;
  line-height: 1.3em;
}

.main-wrapper{
  width: 500px;
  margin: 0 auto; 
}


.div-pad {
  padding: 15px 30px 40px 10px;
}

.div-margin{
  margin: 10px;
}

.box-a {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: pink;
}

.box-b {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: yellowgreen;
}

.box-c {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: violet;
}

/* CSS flex*/

.content-wrapper {
  display: flex; /*반응형 웹을 구현할 수 있다, ex. 상세페이지 상품 (공통된 컨텐츠를 감싼 다음 flex만 붙여주면)나열*/
  flex-direction: row; 
}

.flex-a {
  width: 300px;
  height: 100px;
  background-color: blue;
}
.flex-b {
  width: 300px;
  height: 100px;
  background-color: skyblue;
}
.flex-c {
  width: 300px;
  height: 100px;
  background-color: darkblue;
}